<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p %d{DEFAULT} [%C{3}:%L] %msg%n" />
        </Console>
    </Appenders>


    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>

</Configuration>